<template>
    <section class="agb">
        <h2>AsyncSystems - Allgemeine Geschäftsbedingungen</h2> 
        <h3>Anwendungsbereich</h3> 
        <p>
            Die Allgemeinen Geschäftsbedingungen (AGB) der AsyncSystems regeln Abschluss, Inhalt und Abwicklung sämtlicher Verträge und Vereinbarungen für IT-Dienstleistungen. 
            <br>
            Dazu gehören insbesondere Beratung, Zusammenstellung, Zusammenbau, Installation sowie die Reparatur von Computern.
        </p> 
        <h3>Geltungsbereich</h3>
        <p>
            Verträge zwischen AsyncSystems und dem Kunden (Privatkunde) richten sich ausschliesslich nach diesen AGB. Durch Unterzeichnung der Offerte bzw. der Auftragsbestätigung werden die AGB vom Kunden anerkannt und akzeptiert. 
            <br>
            Abweichende AGB des Kunden werden ausdrücklich abgelehnt. Nebenabreden und Änderungen sowie die Verwendung entgegenstehender AGB benötigen eine schriftliche Zustimmung durch AsyncSystems.
        </p> 
        <h3>Angebote &amp; Preise</h3> 
        <p>
            Die Offertenerstellung durch AsyncSystems erfolgt in der Regel kostenlos. Alle Angebote von AsyncSystems sind ohne Gewähr. Preis- und Produktänderungen der Hersteller bleiben ausdrücklich vorbehalten. Die Kosten für Lieferung und Verpackung sind vom Kunden zusätzlich zu vergüten.
        </p> 
        <h3>Vertragsabschluss</h3> 
        <p>
            Die Angebotsannahme oder Auftragserteilung durch den Kunden kann mündlich (persönlich) oder schriftlich (E-Mail) erfolgen. AsyncSystems bestätigt den Vertragsabschluss schriftlich. 
            <br>
            Angebotsannahme resp. Auftragserteilung sind verbindlich. Bei einer Stornierung kurz nach der Angebotsannahme resp. Auftragserteilung wird der Kunde aufgefordert eine Grundgebühr von CHF 40.- exkl. MwSt zu entrichten. Allfällige Kosten die durch den Händler entstehen, hat der Kunde direkt an den Händler zu bezahlen.
        </p> 
        <h3>Lieferung von Handelsware</h3> 
        <h4>Lieferverzug</h4> 
        <p>
            Termine und Lieferfristen sind grundsätzlich unverbindlich. 
            <br>
            In keinem Fall begründen Lieferverzögerungen Schadensersatzansprüche oder ein Rücktrittsrecht des Kunden vom Vertrag. 
            <br>
            Von AsyncSystems angegebene Liefertermine gelten unter dem Vorbehalt der rechtzeitigen Lieferung durch den Hersteller oder Lieferanten.
            Alle Waren werden beim Hersteller oder Lieferanten bezogen. 
            <br><br>
            Wird ein Produkt nicht mehr hergestellt oder kann es vom Hersteller resp. Händler nicht mehr geliefert werden, fällt der diesbezüglich zwischen AsyncSystems und dem Kunden abgeschlossene Vertrag ohne weiteren und ohne Schadensersatzpflicht dahin.
        </p> 
        <h4>Transport</h4> 
        <p>
            Lieferungen sowie der Versand von Waren erfolgen auf Kosten und Gefahr des Kunden.
        </p> 
        <h3>Erbringung von Dienstleistungen</h3> 
        <h4>Sorgfaltspflicht</h4> 
        <p>
            AsyncSystems arbeitet mit der höchst möglichen Sorgfalt. 
            <br>
            Bei nicht Einhaltung der Sorgfaltspflicht, haftet der Auftragsbearbeitende Mitarbeiter von AsyncSystems.
        </p> 
        <h4>Verzug</h4> 
        <p>
            Termine sind grundsätzlich unverbindlich. In keinem Fall begründen Verzögerungen Schadensersatzansprüche oder ein Rücktrittsrecht vom Vertrag.
        </p> 
        <h3>Abnahme und Gewährleistung</h3> 
        <h4>Probezeit</h4> 
        <p>
            Für die erbrachten Lieferungen und Leistungen wird dem Kunden eine Probezeit von fünf Tagen gewährt, beginnend mit dem auf die Fertigstellung der Lieferungen und Leistungen folgenden Tag.
        </p> 
        <h4>Abnahme</h4> 
        <p>
            Die Lieferungen und Leistungen von AsyncSystems gelten als abgenommen, wenn der Kunde allfällige Mängel nicht bis zum Ablauf der Probezeit schriftlich dokumentiert und beanstandet.
        </p> 
        <h4>Gewährleistung / Garantie der Handelsware</h4> 
        <p>
            Jegliche Gewährleistungsansprüche des Kunden gegenüber AsyncSystems für Handelsware ist ausgeschlossen. Es gelten ausschliesslich die Garantiebestimmungen der jeweiligen Hersteller bzw. Händler. <br>
            Der Hersteller resp. Händler ist für die Erbringung der Garantieleistungen direkt verantwortlich. AsyncSystems ist auf Wunsch des Kunden bei der Abwicklung von Garantiefällen behilflich.
        </p> 
        <h4>Haftung</h4> 
        <p>
            Für direkte oder indirekte Schäden sowie Folgeschäden aus Lieferungen und Leistungen sowie Beratung übernimmt AsyncSystems keinerlei Haftung. Schadensersatzansprüche jedweder Art werden ausgeschlossen, dies gilt insbesondere für Schäden an aufgezeichneten Daten, für Datenverluste, Störungen oder Betriebsausfall, entgangene Umsätze oder Gewinne. <br>
            Für die ordentliche Sicherstellung der Daten trägt in jedem Fall der Kunde die alleinige Verantwortung. Falls der Kunde eine Datensicherung durch AsyncSystems wünscht, hat er dies im Voraus ausdrücklich schriftlich zu verlangen.
            AsyncSystems haftet nicht für Datenverlust oder andere Schäden durch Abnutzung von Hardware, Beschädigung oder Ausfall der benutzten IT-Infrastruktur oder wegen Unterbrechung der Datenbearbeitung oder Datenübermittlung, deren Ursache im Verantwortungsbereich der AsyncSystems liegt.
            Darüber hinaus ist bei technischen Geräten der Kunde für die Wahl eines geeigneten Standorts und das Vorhandensein der erforderlichen Anschlüsse verantwortlich.
        </p> 
        <h3>Vergütung</h3> 
        <h4>Dienstleistungshonorare</h4> 
        <p>
            AsyncSystems erbringt Dienstleistungen nach Aufwand und nach den geltenden bzw. vereinbarten Stundenansätzen.
        </p> 
        <h4>Zahlungsbestimmungen</h4> 
        <p>
            Waren werden durch Vorauszahlung des Kunden direkt an die Händler bezahlt. Vor Bezahlung werden die Waren nicht an AsyncSystems geliefert. 
            Die jeweiligen Rechnungen der Händler erhält der Kunde via E-Mail von AsyncSystems. 
            <br>
            Dienstleistungen werden vor Ort in Bar oder mit Bitcoins ohne Abzug an AsyncSystems bezahlt, soweit nichts Anderes schriftlich vereinbart wurde.
        </p> 
        <h4>Abnahmepflicht</h4> 
        <p>
            Für Waren, welche AsyncSystems im Auftrag für einen Kunden bestellt, gilt eine Abnahme- und Zahlungspflicht.
        </p> 
        <h3>Annullierung von Aufträgen</h3> 
        <p>
            AsyncSystems kann die Annahme von Aufträgen ohne Angabe von Gründen jederzeit ablehnen. AsyncSystems kann zudem die Ausführung eines Auftrages unterbrechen, kürzen oder vorzeitig beenden, wenn der Kunde die Auftragserfüllung erschwert oder verunmöglicht, oder wenn der Kunde mit einer Zahlung in Verzug ist.
            Werden erteilt Aufträge annulliert, werden in jedem Fall alle bisher erbrachten Leistungen und Lieferungen sofort zur Zahlung fällig. Bei der Annullierung werden alle Leistungen fällig, für welche bereits ein Termin oder ein in Anzahl Tagen oder Wochen definierter Ausführungstermin bestand.
        </p> 
        <h3>Reaktionszeit</h3> 
        <p>
            AsyncSystems ist stets bemüht, vereinbarte Termine zur Erbringung von Lieferungen und Leistungen einzuhalten, behält sich aber das Recht vor, diese jederzeit und ohne Angabe von Gründen einseitig verschieben zu können.
        </p> 
        <h3>Datenschutz</h3> 
        <p>
            AsyncSystems erhebt Daten zum Zweck der Vertragsdurchführung, zur Erfüllung ihrer vertraglichen und vorvertraglichen Pflichten.
            Die Datenerhebung und Datenverarbeitung ist für die Durchführung des Vertrags erforderlich.
            <br><br>
            AsyncSystems sowie deren Mitarbeitende gewährleisten, dass die im Rahmen eines Auftrages zur Kenntnis gelangte Kundendaten vertraulich behandelt und nicht an Dritte weitergegeben werden.
            Die Daten werden gelöscht, sobald diese für den Zweck ihrer Verarbeitung nicht mehr erforderlich sind.
            <br><br>
            Der Kunde hat insbesondere das Recht, Auskunft der bei AsyncSystems über diesen gespeicherten Daten zu verlangen sowie bei Unrichtigkeit der Daten die Berichtigung oder bei unzulässiger Datenspeicherung die Löschung der Daten zu beantragen.
        </p> 
        <h3>Schlussbestimmungen</h3> 
        <p>
            Sollten einzelne Punkte nicht geregelt oder einzelne Bestimmungen dieser AGB ganz oder teilweise unwirksam sein, bleibt die Gültigkeit des Vertrages davon unberührt.
             Die nicht geregelten oder unwirksamen Punkte sind durch solche Bestimmungen zu ersetzen, die geltendem Recht entsprechend und dem Willen beider Parteien möglichst nahe kommen.
        </p> 
        <h3>Anwendbares Recht</h3> 
        <p>
            Die vorliegenden AGB sowie alle damit im Zusammenhang stehenden Verträge unterstehen dem schweizerischem Recht.
        </p>
    </section>
</template>

<style lang="scss" scoped>
    .agb {
        padding: 5rem 21rem 5rem 21rem;
        text-align: left;

        h2 {
            font-size: 2.2rem;
            font-weight: bold;
        }

        h3 {
            font-size: 1.8rem;
            font-weight: bold;
        }

        h4 {
            font-size: 1.6rem;
            font-weight: bold;
        }

        p {
            font-size: 1.3rem;
        }
    }
</style>