<template>
    <div class="banner-background">
        <img :src="require('../assets/img/placeholder.png')" alt="Placeholder">
    </div>
</template>

<style scoped lang="scss">
    .banner-background {
        background: #d4d4d4;
        padding-bottom: 50px;

        img {
            width: 30%;
        }
    }
</style>