<template>
    <section id="services">
        <h1>Unsere Dienstleistungen</h1>
        <div id="servicesektor">
            <div id="beratung" class="servicecard">
                <div class="icon">
                    <i class="far fa-comments"></i>
                </div>
                <div class="beschreibung">
                    Wollen Sie eine neutrale Meinung? <br>
                    Gerne beraten wir Sie über eine zukünftige Anschaffung bei uns oder bei jemand anderem.
                </div>
            </div>
            <div id="konfiguration" class="servicecard">
                <div class="icon">
                    <i class="fas fa-clipboard-list"></i>
                </div>
                <div class="beschreibung">
                    Haben Sie es satt, alle Jahre wieder einen Fertig-PC zu kaufen, weil er schon wieder kaputt ist? Wir konfigurieren Ihnen Ihren PC nach Ihrem Budget!
                </div>
            </div>
            <div id="reparatur" class="servicecard">
                <div class="icon">
                    <i class="fas fa-wrench"></i>
                </div>
                <div class="beschreibung">
                    Ihr derzeitiger PC zickt rum? Wenn Sie wollen, können wir gerne einen Blick in das Innenleben werfen und wenn nötig reparieren / ersetzen.
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>

    #services {
         background-color: #f5f8f8;
         padding: 2rem;

        h1 {
            margin-left: 9rem;
            text-align: left;
            margin-bottom: 2rem;
        }

        div#servicesektor {
            height: 28rem;
            display: grid;
            grid-template-columns: 25% 25% 25%;
            gap: 5%;
            justify-content: center;

            .servicecard {
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 30% 70%;
                align-items: center;
                padding: 1.8rem;

                border: 1px solid rgb(126, 126, 126);

                $transition-time: .2s;

                transition: $transition-time ease-in-out border;
                transition: $transition-time ease-in-out box-shadow;

                &:hover {
                    transition: $transition-time ease-in-out border;
                    transition: $transition-time ease-in-out box-shadow;
                    border: 0;
                    box-shadow: 3px 3px 3px 3px rgb(126, 126, 126);
                    cursor: pointer;
                }

                i {
                    font-size: 4.5rem;
                }

                .beschreibung {
                    text-align: left;
                    font-size: 1.2rem;
                }
            }
        }
    }

</style>