<template>
    <footer>
      <div class="copy">
        Copyright &copy; AsyncSystems
      </div>
      <div class="files">
        <a href="/imprint">Impressum</a>
        |
        <a href="/privacy">Datenschutz</a>
          |
        <a href="/terms">AGB</a>
      </div>
      <div class="pay">
        <div class="title">
          Wir akzeptieren:
        </div>
        <div class="content">
          CHF Bar | BitCoin
        </div>
      </div>
    </footer>
</template>