<template>
    <section class="impr">
        <h2>Kontakt-Adresse</h2>
        <p>
            Pascal Wüst
            <br>
            Schachenstrasse 8
            <br>
            8522 Häuslenen
            <br>
            Schweiz
        </p>
        <p>
            E-Mail:
            <br>
            tars@asyncsystems.ch
        </p>
        <p>&nbsp;</p>
        <br>
        Quelle:
        <a href="https://www.swissanwalt.ch" target="_blank" rel="noopener">SwissAnwalt</a>
    </section>
</template>

<style lang="scss" scoped>

    .impr {
        padding: 5rem 21rem 5rem 21rem;
        text-align: left;

        h2 {
            font-size: 2.2rem;
            font-weight: bold;
        }

        p {
            font-size: 1.3rem;
        }
    }
</style>