<template>
    <section id="contact">
        <div class="form">
            <form @submit.prevent="sendEmail">
                <div class="row mb-3">
                    <div class="col-3">
                        <label for="salut">Anrede</label>
                        <select name="salut" id="salut" v-model="salut" class="form-control custom-select" required>
                            <option selected disabled>Bitte wählen</option>
                            <option value="Herr">Herr</option>
                            <option value="Frau">Frau</option>
                            <option value="Divers">Divers</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="prename">Vorname</label>
                        <input type="text" name="prename" id="prename" v-model="prename" class="form-control" required>
                    </div>
                    <div class="col">
                        <label for="surname">Nachname</label>
                        <input type="text" name="surname" id="surname" v-model="surname" class="form-control" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="email">E-Mail Adresse</label>
                        <input type="email" name="email" id="email" v-model="email" class="form-control" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="concern">Ihr Anliegen</label>
                        <textarea name="concern" id="concern" cols="30" rows="5" v-model="concern" class="form-control" required></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3">
                        <input type="submit" name="submit" id="submit" class="form-control btn btn-primary" value="Senden">
                    </div>
                </div>
            </form>
        </div>
        <div class="description">
            <h1>Kontakt & Öffnungszeiten</h1>
            <p>Haben wir Ihr Interesse geweckt?</p>
            <p>Dann melden Sie sich via unserem Kontaktforumlar an den Support oder <br/> für Direktanfragen an den zuständigen / die zuständige Mitarbeiter:in!</p>
            <div class="mb-5"></div>
            <p><b>Öffnungszeiten</b></p>
            <table>
                <tr>
                    <td>Do:</td>
                    <td>Geschlossen</td>
                </tr>
                <tr>
                    <td>Mo - Mi:</td>
                    <td>19.00 - 21.00 Uhr</td>
                </tr>
                <tr>
                    <td>Fr:</td>
                    <td>18.00 - 22.00 Uhr</td>
                </tr>
            </table>
        </div>
    </section>
</template>

<style lang="scss" scoped>

#contact {
    padding: 2rem;
    display: grid;
    grid-template-columns: 37.5% 57.5%;
    gap: 5%;

    text-align: left;

    label {
        font-size: 20px;
    }

    .description {
        p {
            font-size: 25px;
        }

        table {
            font-size: 23px;
            border-collapse: separate;
            border-spacing: 1.2rem 0;
        }
    }
}

</style>

<script>

import emailjs from 'emailjs-com';

export default {
    name: 'ContactUs',
    data() {
        return {
            salut: '',
            prename: '',
            surname: '',
            email: '',
            concern: ''
        }
    },
    methods: {
        sendEmail(e) {
            try {
                // If going to production, change credentials.
                emailjs.sendForm('SERVICE_ID', 'TEMPLATE_ID', e.target, 'USER_ID', {
                    salut: this.salut,
                    prename: this.prename,
                    surname: this.surname,
                    email: this.email,
                    concern: this.concern
                })
            } catch(error) {
                console.error(error);
            }
            this.salut = ''
            this.prename = ''
            this.surname = ''
            this.email = ''
            this.concern = ''
        },
    }
}
</script>