<template>
    <section id="standort">
        <div class="map">
            <iframe
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://www.openstreetmap.org/export/embed.html?bbox=8.842878341674806%2C47.50293878643869%2C8.962612152099611%2C47.54965238525127&amp;layer=mapnik&amp;marker=47.52630078606592%2C8.902745246887207" >
            </iframe>
        </div>
        <div class="description">
            <h1>Standort</h1>
            Unser Hauptsitz befindet sich in Häuslenen, ein Dorf am Rande der politischen Gemeinde Aadorf im Kanton Thurgau. <br/><br/>
            Grösstenteils sind wird auch in dieser unterwegs. Gerne bedienen wir aber auch Kunden von ausserhalb der Gemeinde Aadorf.
        </div>
    </section>
</template>

<style lang="scss" scoped>
    #standort {

        display: grid;
        grid-template-columns: 50% 50%;
        padding: 2rem;


        iframe {
            width: 100%;
            height: 28rem;
            box-shadow: 5px 5px 5px 5px rgb(126, 126, 126);
        }

        .description {

            h1 {
                margin-bottom: 2rem;
            }

            padding: 3rem;
            text-align: left;
            font-size: 1.3rem;
        }
    }
</style>