<template>
    <section id="team">

        <h1>Unser Team</h1>

        <p>Ein junges und dynamisches Team wartet gespannt auf Sie und Ihr Anliegen!</p>

        <div class="carousel" id="test2">
            <!-- for-loop through db-content -->
            <input type="radio" name="item2" value="1" checked> <!-- v-if for checking if default for checked -->
            <div>
                <img src="http://lorempixel.com/600/350/food/1/">
                <div class="text">
                    <table>
                        <tr>
                            <th>Pascal Wüst</th>
                        </tr>
                        <tr>
                            <td>Geschäftsführer & Gründer</td>
                        </tr>
                        <tr class="spacer">
                            <td>.</td>
                        </tr>
                        <tr>
                            <td>Beruf: Informatiker EFZ</td>
                        </tr>
                        <tr>
                            <td>E-Mail: pawue(at)asyncsystems.ch</td>
                        </tr>
                        <tr class="spacer">
                            <td>.</td>
                        </tr>
                        <tr>
                            <td>Zuständig für: Technischer Support, Programmierung Website</td>
                        </tr>
                    </table>
                </div>
            </div>

            <input type="radio" name="item2" value="2">
            <div>
                <img src="http://lorempixel.com/600/350/food/2/">
                <div class="text">
                    <table>
                        <tr>
                            <th>Jenny Zbären</th>
                        </tr>
                        <tr>
                            <td>Sales Directorin</td>
                        </tr>
                        <tr class="spacer">
                            <td>.</td>
                        </tr>
                        <tr>
                            <td>Beruf: Kauffrau EFZ</td>
                        </tr>
                        <tr>
                            <td>E-Mail: jezba(at)asyncsystems.ch</td>
                        </tr>
                        <tr class="spacer">
                            <td>.</td>
                        </tr>
                        <tr>
                            <td>Zuständig für: Verkauf, Rechnungsanfragen</td>
                        </tr>
                    </table>
                </div>
            </div>

            <input type="radio" name="item2" value="3">
            <div>
                <img src="http://lorempixel.com/600/350/food/3/">
                <div class="text">
                    <table>
                        <tr>
                            <th>Nathalie Othra</th>
                        </tr>
                        <tr>
                            <td>Community Manager</td>
                        </tr>
                        <tr class="spacer">
                            <td>.</td>
                        </tr>
                        <tr>
                            <td>Beruf: Fotografin EFZ</td>
                        </tr>
                        <tr>
                            <td>E-Mail: naoth(at)asyncsystems.ch</td>
                        </tr>
                        <tr class="spacer">
                            <td>.</td>
                        </tr>
                        <tr>
                            <td>Zuständig für: News, Instagram</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>

/* Animations
--------------------------------------------  */

@keyframes arrow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


#team {
    .carousel {
        position: relative;
        input {
            position: absolute;
            left: 0;
            z-index: 3;
            margin: 0;

            & + div {
                width: 100%;
                display: grid;
                grid-template-columns: 40% 50%;
                justify-content: center;
            }

            &:before {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                width: 10px;
                height: 10px;
                border-bottom: 2px solid;
                border-left: 2px solid;
                transform: scale(2.5) rotate(45deg);
                left: 6px;
                top: 4px;
            }
        }

        img {
            box-shadow: 5px 5px 5px 5px #7e7e7e;
        }

    }

    input {
        width: 0px;
        height: 0px;

        &:checked ~ input:before {
                transform: scale(2.5) rotate(227deg);
            }

        &:checked {
            display: none;

            & ~ input {
                right: 0;
                left: auto;
            }

            & + div + input {
                z-index: 4;
            }

            &:checked + div {
                z-index: 2;
            }
        }

        & + div {
            position: absolute;
            z-index: 1;
        }
    }
}

/* Demo styles
--------------------------------------------  */

#team {
    background-color: #f5f8f8;
    padding: 2rem;

    text-align: left;

    p {
        font-size: 25px;
    }

    table {
        th {
            font-size: 1.7rem;
        }
        td {
            font-size: 1.3rem;
        }

        .spacer {
            visibility: hidden;
        }
    }

    .carousel {
        height: 400px;
        padding: 2em auto;
        overflow:hidden;
        transform: translateZ(0px); /* stops flickering incode pen*/

        input {
            top: 150px;
            left: 10px;
            margin-right: 40px;

            &:hover {
                animation-name: arrow;
                animation-duration: 1s;
                animation-iteration-count: infinite;
            }
        }
    }
    input {
        &:checked ~ input {
            right: 10px;
        }
    }
}


/* Disolve
--------------------------------------------  */

#team {
    #test2 {
        input + div {
            transition: opacity 1s;
            opacity: 0;
        }

        input:checked + div {
            transition: opacity 1s;
            opacity: 1;
        }
    }
}


</style>