<template>
    <section id="welcomecontainer">
        <div class="welcome">
            <h1>
                Willkommen bei <br/>
                <span class="main">./AsyncSystems;</span>
            </h1>
            <h2>
                Ihr IT-Partner des Vertrauens
            </h2>
        </div>
        <div class="news">
            <div class="floatbox">
                <div class="title">
                    <h1>Newstime</h1>
                </div>
                <div class="content">
                    <!-- For-loop with content of MongoDB -->
                    <div id="news1" class="newsbox">
                        <span class="date">Samstag, 05.06.2021</span>
                        <h1 class="newstitle">RedHat 389-DS</h1>
                        <h2 class="subtitle">Geeignet für Business-use oder doch nur Schabernack?</h2>
                    </div>
                    <div id="news2" class="newsbox">
                        <span class="date">Freitag, 04.06.2021</span>
                        <h1 class="newstitle">Linux Mint 20.1</h1>
                        <h2 class="subtitle">Die Alternative zu Windows?</h2>
                    </div>
                    <div id="news3" class="newsbox">
                        <span class="date">Donnerstag, 03.06.2021</span>
                        <h1 class="newstitle">Windows 10 vs macOS 11</h1>
                        <h2 class="subtitle">Wer verliert? Wer siegt?</h2>
                    </div>
                    <div id="news4" class="newsbox">
                        <span class="date">Mittwoch, 02.06.2021</span>
                        <h1 class="newstitle">Wir ziehen um!</h1>
                        <h2 class="subtitle">Und bedanken uns für Ihre Treue.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<style scoped lang="scss">

    #welcomecontainer {

        display: grid;
        grid-template-columns: 55% 45%;
        height: 30rem;
        width: 100% !important;

        // padding-bottom: 40%;

        &>.welcome {
            text-align: right;
            justify-self: center;
            align-self: center;

            span.main {
                font-weight: bold;
                font-size: calc(100% + 25%);
            }
        }
        
        h1 {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
        }

        .floatbox {
            position: relative;
            display: grid;
            grid-template-rows: 20% 60%;
            top: -2rem;
            right: 0 !important;
            width: 100%;
            height: calc(100% + 3rem);
            background: #9b111e; //ruby red
            color: white;

            .title {
                align-self: center;
                justify-self: start;
                padding: 3rem;
            }

            .content {
                padding: 0 3rem 0 3rem;
                display: grid;
                grid-template-columns: 40% 40%;
                grid-template-rows: auto;
                gap: 5px 20px;
                
                .newsbox {
                    $transition-time: .2s;
                    width: 100%;
                    border: 1px solid white;
                    padding: 1.3rem;
                    text-align: left;
                    transition: ease-in-out $transition-time;

                    .date {
                        font-weight: bold;
                    }

                    .newstitle {
                        font-size: 1.8rem;
                    }

                    .newstitle ~ .subtitle {
                        font-size: 1em;
                    }

                    &:hover {
                        background-color: white;
                        cursor: pointer;
                        color: black;
                        transition: ease-in-out $transition-time;
                    }
                }
            }
        }
    }

</style>