@keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.top-header, header {
    animation: .5s ease-in-out 0s 1 slideFromTop;
}

.banner-background {
    animation: 2s ease-in-out 0s 1 fadeIn;
}

.welcome {
    h1 {
        animation: 2s ease-in-out 0s 1 fadeIn;
    }
    h2 {
        animation: 4s ease-in-out 0s 1 fadeIn;
    }
}

.floatbox {
    animation: 1s ease-in-out 0s 1 slideFromRight;
}