footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: black;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-items: center;

    .copy {
        color: #efefef;
    }

    .files {
        color: #efefef;
        justify-self: center;

        &>* {
            color: inherit;
            text-decoration: none;
            transition: color ease-in-out .2s;
        }

        &>*:hover {
            color: gray;
            transition: color ease-in-out .2s;
        }
    }

    .pay {
        justify-self: end;
        text-align: right;
        display: grid;
        grid-template-rows: 30% 30%;
        gap: .5rem;
        color: #efefef;
    }
}