@media screen and (max-width: 1200px) {
    #welcomecontainer {
        grid-template-columns: auto !important;
        grid-template-rows: 15rem 30rem !important;
        height: 30rem !important;

        &>.welcome {
            width: inherit !important;
            padding: 2rem;
        }

        &>.news {
            width: 100% !important;
            height: 100% !important;

            .floatbox {
                position: static !important;
                width: inherit !important;
                height: inherit !important;
            }
        }

    }
}

@media screen and (min-width: 992px) {
    .sidebarIconToggle, #sidebarMenu, .async-white {
        display: none;
    }

    
}

@media screen and (max-width: 991px) {

    .hideme, .async-black {
        display: none !important;
    }

    .async-white {
        width: 200px !important;
        height: 80px !important;
        color: transparent;
        text-decoration: none;
        position: relative;
        top: -0.3em !important;
    }

    $padding-top-header: 1rem;

    .top-header {
        padding-left: $padding-top-header !important;
        padding-right: $padding-top-header !important;
    }

    #welcomecontainer {
        grid-template-rows: 15rem 50rem !important;;

        .floatbox {
            grid-template-rows: 8rem 50rem !important;
        }
        
        .content {
            height: 80% !important;
            grid-template-columns: 100% !important;
            grid-template-rows: 20% 20% 20% 20% !important;
            gap: 20px 5px !important;
    
            .newsbox {
                height: 100%
            }
        }
    } 
}

@media screen and (max-width: 461px) {

    #welcomecontainer .content {
        height: 70% !important;
        grid-template-columns: 100% !important;
        grid-template-rows: 25% 25% 25% 25% !important;
        gap: 27px 5px !important;

        .newsbox {
            height: 110%
        }
    }
}

@media screen and (max-width: 337px) {
    #welcomecontainer {
        
        .news {
            height: 110% !important;
        }
        
        .content {
        height: 70% !important;
        grid-template-columns: 100% !important;
        grid-template-rows: 25% 25% 25% 25% !important;
        gap: 12% 5px !important;
            .newsbox {
                height: 135%
            }
        }
    }
}