.triangle_bottom_left_long {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 75px 0 0 400px;
  border-color: transparent transparent transparent orange;
  position: absolute;
  bottom: 33px;
}

.triangle_top_right_long {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 400px 75px 0;
  border-color: transparent orange transparent transparent;
  position: absolute;
  top: 33px;
  right: 33px;
}