<style lang="scss">
  @import "assets/style/style.scss";
  @import "assets/style/header.scss";
  @import "assets/style/footer.scss";
  @import "assets/style/hamburger.scss";
  @import "assets/style/queries.scss";
  @import "assets/style/animations.scss";
  @import "assets/style/shapes.scss";
</style>

<template>
  <div class="top-header">
    <div class="links">
      <a href="https://gitlab.com/asyncsystems" target="_blank"><i class="fab fa-gitlab"></i></a>
      <a href="https://www.instagram.com/asyncsystems/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a href="/"><img :src="require('/src/assets/img/asyncsystems.svg')" alt="asyncsystems-logo" class="navbar-brand main-logo async-black"></a>
          <a href="/"><img :src="require('/src/assets/img/asyncsystems-white.svg')" alt="asyncsystems-logo" class="navbar-brand main-logo async-white"></a>
          
          <div class="nav hideme">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/">Dienstleistungen</a>
            <a class="nav-link" href="/">Standort</a>
            <a class="nav-link" href="/">Team</a>
            <a class="nav-link" href="/">Kontakt</a>
          </div>
          
          <ul class="navbar-nav ml-5 mr-auto">
            <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
            <label for="openSidebarMenu" class="sidebarIconToggle">
              <div class="spinner diagonal part-1"></div>
              <div class="spinner horizontal"></div>
              <div class="spinner diagonal part-2"></div>
            </label>
            <div id="sidebarMenu">
              <ul class="sidebarMenuInner">
                <li><a href="/">Home</a></li>
                <li><a href="/">Dienstleistungen</a></li>
                <li><a href="/">Standort</a></li>
                <li><a href="/">Team</a></li>
                <li><a href="/">Kontakt</a></li>
              </ul>
            </div>
          </ul>
        </nav>
      </header>
  <router-view />
</template>
