<template>
  <div class="home">
    <Banner />
    <Welcome />
    <Dienstleistungen />
    <Standort />
    <Team />
    <Kontakt />
    <Fuss />
  </div>
</template>

<script>
// @ is an alias to /src
import Banner from '@/components/Banner.vue'
import Welcome from '@/components/Welcome.vue'
import Dienstleistungen from '@/components/Dienstleistungen.vue'
import Standort from '@/components/Standort.vue'
import Team from '@/components/Team.vue'
import Kontakt from '@/components/Kontakt.vue'
import Fuss from '@/components/Footer.vue'

export default {
  name: 'Home',
  components: {
    Banner,
    Welcome,
    Dienstleistungen,
    Standort,
    Team,
    Kontakt,
    Fuss
  }
}
</script>
