<template>
  <div class="impressum">
    <Impressum />
    <Fuss />
  </div>
</template>

<script>

import Impressum from '@/components/Impressum.vue'
import Fuss from '@/components/Footer.vue'

export default {
  name: 'Imprint',
  components: {
    Impressum,
    Fuss
  }
}
</script>