<template>
    <div class="privacy">
        <Datenschutz />
        <Fuss />
    </div>
</template>

<script>

import Datenschutz from '@/components/Datenschutz.vue'
import Fuss from '@/components/Footer.vue'

export default {
    name: 'Privacy',
    components: {
        Datenschutz,
        Fuss
    }
}
</script>