<template>
    <div class="terms">
        <AGB />
        <Fuss />
    </div>
</template>

<script>

import AGB from '@/components/AGB.vue'
import Fuss from '@/components/Footer.vue'

export default {
    name: 'Terms', 
    components: {
        AGB,
        Fuss
    }
}
</script>